.fontchange{
  font-family: 'Cinzel Decorative', cursive;
}
.colors{
  background-color: #040a10;
}
.colors{
  background-color: #040a10;
}

.colorofIntro{
  background-color: #010408;
}
.spanintro{
  font-family: 'IM Fell English', serif;
  color: #ffffff; 
}
 .paraofIntro{
  font-family:'Courier New', Courier, monospace;
 }
 .shlokhIntro{
   font-family: 'IM Fell English', serif;
 }
 