.MaintextWarriors{
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}
.WarriorIdentity{
  font-family: 'IM Fell English', serif;
}
.warriorsNames{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2rem;
}
.summaryofwarriors{
    font-family:'Courier New', Courier, monospace;
}
.features{
    font-family:'Courier New', Courier, monospace;
}