@import "tailwindcss";
body {
  font-family: 'Cinzel', serif;
}
body {
  cursor: none;
}

::selection {
  background-color:rgba(12, 68, 133, 0.2);
  color:rgb(75, 153, 226) ;
}
::-webkit-scrollbar{
  width: 0.3rem;
}
::-webkit-scrollbar-track{
  background-color:  #040a10;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(75, 153, 226);
  border-radius: 5px;
}