@import "tailwindcss";
body {
  font-family: 'Cinzel', serif;
}
body {
  cursor: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9998; /* Neon cursor se neeche */
}